{
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 120
}
